---
export interface PhotoListProps {
  urls: {
    regular: string;
    small: string;
  };
  width: number;
  height: number;
}

const { urls, width, height } = Astro.props as PhotoListProps;
---

<div class="w-full rounded-md overflow-hidden">
  <img
    width={width}
    height={height}
    src={urls.regular}
    alt="unsplash-image"
  />
</div>
