---
export interface PhotoListProps {
  urls: {
    regular: string;
    small: string;
  };
  width: number;
  height: number;
}

const { urls, width, height } = Astro.props as PhotoListProps;
---

<section class="w-full rounded-md overflow-hidden">
  <div class="relative group">
    <img
      width={width}
      height={height}
      src={urls.regular}
      alt="unsplash-image"
    />
  </div>
</section>
