<script>
  const searchBox = document.querySelectorAll(".inputBox");
  const mobileSearchBox = document.querySelector(
    "#mobileSearchBox"
  ) as HTMLElement;
  const btn = document.querySelector("#search-btn") as HTMLLinkElement;
  const toggleButton = document.querySelector(
    "#toggle-btn"
  ) as HTMLButtonElement;

  function toggleBtn() {
    mobileSearchBox.style.display === "none"
      ? (mobileSearchBox.style.display = "block")
      : (mobileSearchBox.style.display = "none");
  }

  toggleButton.addEventListener("click", toggleBtn);

  function handleClick() {
    searchBox.forEach((box: any) => {
      if (box.value.length) {
        window.open(`/search_results/${box.value}`, "_self");
        box.value = "";
      }
    });
  }

  searchBox.forEach((box: any) => {
    box.addEventListener("keypress", (event: KeyboardEvent) => {
      if (event.key === "Enter" && box.value) {
        window.open(`/search_results/${box.value}`, "_self");
        box.value = "";
      }
    });
  });
  btn.addEventListener("click", handleClick);
</script>

<div>
  <div class="hidden md:flex space-x-2 justify-center items-center">
    <input
      id="searchBox"
      type="search"
      value=""
      name="search"
      placeholder="Enter a keyword"
      class="inputBox px-3 py-2 rounded-md text-zinc-100 text-sm focus:outline-none focus:ring-2 focus:ring-purple-500 bg-zinc-700"
    />
    <button
      id="search-btn"
      class="text-zinc-100 px-2 py-2 bg-zinc-900 rounded-md text-sm border border-stone-800 hover:bg-zinc-800 hover:text-zinc-200/80"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-search w-5 h-5"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        ></path>
      </svg>
    </button>
  </div>

  <div class="flex md:hidden space-x-2 justify-center items-center w-fit">
    <button
      id="toggle-btn"
      class="text-zinc-100 px-2 py-2 bg-zinc-900 rounded-md text-sm border border-stone-800 hover:bg-zinc-800 hover:text-zinc-200/80"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-search w-5 h-5"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        ></path>
      </svg>
    </button>
  </div>

  <input
    id="mobileSearchBox"
    type="search"
    value=""
    name="search"
    placeholder="Enter a keyword"
    style="display: none;"
    class="inputBox absolute inset-x-1 -bottom-16 px-3 py-4 rounded-md text-zinc-100 text-sm focus:outline-none focus:ring-2 focus:ring-purple-500 bg-zinc-800 block md:hidden"
  />
</div>
